body {
  margin: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  display: -ms-grid;
  display: grid;
  scroll-behavior: smooth;
  -ms-grid-rows: auto 1fr auto;
  -ms-grid-columns: auto 1fr;
      grid-template: auto 1fr auto / auto 1fr;
  min-height: 100vh;
  position: relative;
      grid-template-areas: "header header" "nav main" "nav footer";
}

@media (max-width: 480px) {
  #root {
    -ms-grid-rows: auto auto 1fr auto;
    -ms-grid-columns: auto 1fr;
        grid-template: auto auto 1fr auto / auto 1fr;
        grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  }
}

#root pre {
  white-space: pre-wrap;
  font-family: inherit;
  font-size: inherit;
}

#root > * {
  padding: 1em;
}

#root header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  z-index: 10;
  -webkit-box-shadow: 0 1px 10px #0003;
          box-shadow: 0 1px 10px #0003;
}

#root header > div {
  padding: 0 2em;
}

#root header > div * {
  margin: 0 1em;
}

#root nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  background: #eee;
  min-width: 15em;
  padding: 3.5em 1em;
  position: -webkit-sticky;
  position: sticky;
  max-height: 100vh;
  top: 0;
}

@media (max-width: 480px) {
  #root nav {
    position: relative;
  }
}

#root nav a {
  color: inherit;
  font-style: none;
}

#root nav ul {
  color: #555;
  padding-left: 1em;
}

#root nav ul li {
  list-style: none;
}

#root main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  background: #fff;
}

#root main .page {
  padding: 2em 0;
  color: #212529;
}

#root main .page p {
  font-size: larger;
}

#root main .page blockquote {
  color: #737881;
}

#root footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  background: #ddd;
}

.timeline {
  width: 100%;
}

.timeline img {
  vertical-align: middle;
}

.timeline .img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.timeline .img-rounded {
  border-radius: 3px;
}

.timeline .img-thumbnail {
  background-color: #fff;
  border: 1px solid #ededf0;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  line-height: 1.428571429;
  max-width: 100%;
  padding: 2px;
}

.timeline .img-circle {
  border-radius: 50%;
}

.timeline .timeline-centered {
  position: relative;
  margin-bottom: 30px;
  margin: auto;
  margin-top: 3em;
}

.timeline .timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f5f5f6;
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}

@media (max-width: 720px) {
  .timeline .timeline-centered:before {
    left: 10%;
  }
}

.timeline .timeline-centered:after {
  content: " ";
  display: table;
  clear: both;
}

.timeline .timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 70px;
  clear: both;
}

@media (max-width: 720px) {
  .timeline .timeline-centered .timeline-entry {
    float: none;
    margin-left: 10%;
    width: 90%;
  }
}

.timeline .timeline-centered .timeline-entry:before {
  content: " ";
  display: table;
}

.timeline .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
  clear: both;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner:before {
  content: " ";
  display: table;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
  clear: both;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 40px;
  height: 40px;
  background-clip: padding-box;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 5px #f5f5f6;
          box-shadow: 0 0 0 5px #f5f5f6;
  line-height: 40px;
  font-size: 15px;
  float: left;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #303641;
  color: #fff;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #ee4749;
  color: #fff;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: #00a651;
  color: #fff;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #21a9e1;
  color: #fff;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #fad839;
  color: #fff;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f5f5f6;
  padding: 1.7em;
  margin-left: 70px;
  background-clip: padding-box;
  border-radius: 3px;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f5f5f6 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  color: #737881;
  font-family: "Noto Sans",sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
  font-size: 16px;
  margin-bottom: 10px;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #303641;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  opacity: .6;
  filter: alpha(opacity=60);
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p, .timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label li {
  color: #737881;
  font-family: "Noto Sans",sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
}

.timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p, .timeline .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label li + p {
  margin-top: 15px;
}

.timeline .timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}

@media (min-width: 720px) {
  .timeline .timeline-centered .timeline-entry:nth-child(2n) {
    float: left;
  }
  .timeline .timeline-centered .timeline-entry:nth-child(2n) .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
  }
  .timeline .timeline-centered .timeline-entry:nth-child(2n) .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
  }
  .timeline .timeline-centered .timeline-entry:nth-child(2n) .timeline-entry-inner .timeline-icon {
    float: right;
  }
  .timeline .timeline-centered .timeline-entry:nth-child(2n) .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
  }
  .timeline .timeline-centered .timeline-entry:nth-child(2n) .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/*# sourceMappingURL=style.css.map */